@font-face {
    font-family: MyFont1;
    src: url(HeyKans.ttf);
}

h1, h2, h3 
{
    margin: 0;
}

body
{
    padding: 0;
    margin: 0;
    background-color: rgb(27, 19, 32);
}

.Parte
{
    padding-left: 10px;
    max-width: 1200px;
    padding-right: 10px;
}

.Nume
{
    color: rgb(125, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;

}

.Scris
{
    color: white;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Date_personale
{
    font-size: 50px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Prima_fata
{
    padding-bottom: 240px;
    background-color: rgb(27, 19, 32);
}

.Nume_Principal
{
    
    font-size: 55px;
    font-family:  MyFont1;
    color: white;
    font-weight: lighter;
    flex-basis: 100%;
    text-align: center;
}

.Proiect_Principal
{
    font-size: 40px;
    font-family:  MyFont1;
    color: white;
    font-weight: lighter;
}

.About_Principal
{
    font-size: 40px;
    font-family:  MyFont1;
    color: white;
    font-weight: lighter;
}

.Contact_Principal
{
    font-size: 40px;
    font-family:  MyFont1;
    color: white;
    font-weight: lighter;
}

.GitHub_Principal
{
    font-size: 30px;
    font-family:  MyFont1;
    color: white;
    font-weight: lighter;
    
}


.In_Principal
{
    font-size: 30px;
    font-family:  MyFont1;
    color: white;
    font-weight: lighter;
    position: relative;
    right: 30px;
}

.Resume_Principal
{
    position: relative;
    right: 30px;
    font-size: 30px;
    font-family:  MyFont1;
    color: white;
    font-weight: lighter;
    border-radius: 10px;
    background-color: rgb(126, 21, 91);
    padding: 0.5rem;
}

.Header
{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-flow: row wrap;
    gap: 2rem;
    padding-bottom: 130px;
}

.Header a
{
    text-decoration: none;
    color: white;
}

.ho:hover
{
    color: rgb(156, 43, 118);
}

.Header [class*="fa-brands"]
{
    font-size: 50px;
    color: aqua;
}

.Header [class*="fa-solid"]
{
    font-size: 30px;
    position: relative;
    bottom: 5px;
}

.Header [class*="fa-solid"]:hover,
.Header [class*="fa-brands"]:hover
{
    color: rgb(156, 43, 118);
}

.Resume_Principal:hover
{
    color: white;
    background-color: rgb(156, 43, 118);
}

.Info
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 20px;
}

.Contact
{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

.Gradient
{
    background: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%);
    height: 2px;
}

.Contact_Me
{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(61, 10, 57);

}

.Email
{
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 25px;
    
}

.Contact_Me a
{
    text-decoration: none;
    color: white;
    background-color: rgb(126, 21, 91);
    border-radius: 10px;
    padding: 10px;
}

.Contact_Me a:hover
{
    color: white;
    background-color: rgb(148, 47, 108);
}

.Subsol_Nume
{
    text-align: center;
    padding-top: 100px;
    font-family:  Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

.Informatii_Personale
{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}

.Informatii_Personale [class*="fa-brands"]
{
    font-size: 50px;
    color: rgb(126, 21, 91);
}

.Informatii_Personale [class*="fa-sharp"]
{
    font-size: 50px;
    color: rgb(126, 21, 91);
}

.Informatii_Personale [class*="fa-brands"]:hover
{
   color: rgb(148, 47, 108);
}

.Informatii_Personale [class*="fa-sharp"]:hover
{
    color: rgb(148, 47, 108);
}

.Drepturi
{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ;

}

.Subsol
{
    background-color: rgb(27, 19, 32);
}

.Proiecte
{
    background-color: rgb(18, 49, 90);
    padding-left: 10px;
    padding-right: 10px;
}

.Proiecte [class*="Imagine"]
{
    border-left: 1px solid rgb(125, 255, 255);
    border-top: 1px solid rgb(125, 255, 255);
    border-radius: 30px;
    padding: 6px;
    width: 90%;
}

.Proiecte [class*="1"]
{
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    padding-top: 100px;
    font-size: 35px;
}

.Proiecte [class*="2"]
{
    color: white;
    padding-top: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 25px;
    margin: 0;
}

.Proiecte [class*="3"]
{
    color:rgb(125, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
    font-size: 30px;
    padding-bottom: 15px;
}

.Proiecte [class*="4"]
{
    padding-top: 10px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.ClickMe
{
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    color: white;

}

.ho7:hover
{
    background-color: rgb(168, 36, 126);
}

.ho7
{
    background-color: rgb(126, 21, 91);
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: white;
}


.Descriere
{
    color: white;
    margin: 0;
    font-size: 17px;
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.Descriere_Principala
{
    background-color: rgb(27, 19, 32);
    border-radius: 10px;
    padding: 15px;

}

.Tehnologi
{
    padding-left: 30px;
    display: flex;
    gap: 30px;
    padding-top: 3px;
}

.Tehnologii
{
    margin: 0;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Test
{
    padding-left: 30px;
    padding-bottom: 100px;
    padding-right: 10px;
    padding-top: 40px;
}

@media (min-width: 850px)
{
    .Prima_fata{
        margin: 0;
    }

    .Nume_Principal
    {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
        padding-left: 50px;
    }

    .Parte
    {
        padding-left: 120px;
    }

    .Subsol_Nume
    {
        font-size: 30px;
    }
}

@media (min-width: 550px)
{
    .Combinatie
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .Tehnologi
    {
        justify-content: center;
    }

    .Proiecte [class*="4"]
    {
        text-align: center;
    }

    .Tehnologi
    {
        padding-bottom: 50px;
    }

    .Text
    {
        order: 2;
        text-align: right;
    }

    .Proiecte
    {
        padding-right: 50px;
        padding-left: 50px;
    }
    .Descriere
    {
        text-align: center;
    }

}